@model List<Client>

@{
    ViewBag.Title = "Manage Clients";
}
@section Script {
    <script>
        function confirmDeletion(event, id) {
            if (confirm(`Delete Client Id: ${id}`) === false) {
                event.preventDefault();
                event.stopPropagation();
                return false;
            }
        }
    </script>
}

<h2>Manage Clients</h2>

<span style="color:red">@TempData["Msg"]</span>

<br />
<a asp-action="CreateClient">Add New Client</a>

<table class="table table-bordered table-condensed table-hover table-striped">
    <tr>
        <th>Id</th> <th>Name</th> <th>Photo Package</th> <th>Actions</th>
    </tr>
    @{
        // TODO L07 TASK 3C: Complete the View for Main
    }
    @foreach (var c in Model)
    {
            <tr>
                <td>@c.Id</td>
                <td>@c.CustName</td>
                <td>@c.Package.PkgName</td>
                <td>
                    <a asp-action="UpdateClient" asp-route-id="@c.Id">
                        Update
                    </a>
                    &nbsp;                    
                    <a asp-action="DeleteClient" asp-route-id="@c.Id" 
                        onclick="return confirmationDeletion(event, @c.Id)">
                        Delete
                    </a>
                </td>
            </tr>
    }
</table>